{{#extends 'base'}}
{{#block "content"}}

<form method="POST" class="mt-3">
    <div>
        <label class="form-label">Enter Weight:</label>
        <input class="form-control" type="text" id="weight" name="weight" />
    </div>
    <div>
        <label class="form-label">Enter Height:</label>
        <input class="form-control" type="text" id="height" name="height" />
    </div>
    <input class="mt-3" type="submit" />
</form>

{{/block}}
{{/extends}}