{{#extends 'base'}}
{{#block "content"}}


<table class="table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Plot</td>
        </tr>
    </thead>
    {{#each all_movies}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.plot}}</td>
        <td><a href="/delete/{{this._id.$oid}}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {{/each}}
</table>


{{/block}}
{{/extends}}