{{#extends 'base'}}
{{#block "content"}}

<form method="POST">
    <label class="form-label">Movie Title: </label>
    <input type="text" class="form-control" name="movie">
    <label class="form-label">Plot Title: </label>
    <input type="text" class="form-control" name="plot">
    <button class="mt-3">
        Submit
    </button>
</form>


{{/block}}
{{/extends}}